body {
  margin-left: 5em;
  margin-top: 2em;
  color: #fff;
  background-color: #888888;
}

form {
  margin-bottom: 1em;
}

#scatter_plot_content {
  display: inline;
}

#dimensionSelection {
  display: inline;
  float: right;
}

#dimensionSelection li {
  list-style-type: none;
}

#various_buttons {
  display: inline-block;
  margin-bottom: 3em;
}

.no_display {
  display: none;
}

svg {
  background-color: #fff;
  margin: auto;
}

.axis {
  stroke: black;
  stroke-width: 0.7;
}

.tick {
  stroke: black;
  fill: black;
}

.tick text {
  stroke: none;
  color: black;
}

.no_tick text {
  display: none;
}

.axis path {
  stroke: black;
  fill: none;
}
