body{

	color: #fff;
	background-color: #212121;
}

#various_buttons{

	display: inline-block;
	margin-bottom: 3em;
}

.no_display{

	display: none;
}

#dimensionSelection input{

	margin-right: .5em;
}

svg{

	background-color: #fff;
	margin: auto;
}

.axis, {

	stroke: black;
	stroke-width: .7;
}

.tick{

	stroke: black;
	fill: black;
}

.tick text{

	stroke: none;
	color: black;
}

.no_tick text{

	display: none;
}

.axis path{

	stroke: black;
	fill: none;
}
